<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong>
            Facturas
        </strong>
    </div>
    <div class="panel-body">
        <button class="btn btn-primary" style="display: block; margin-bottom: 7px" ng-click="getFacturas()">
            Actualizar
        </button>
        <div class="table-responsive">
            <table class="table table-striped table-condensed">
                <thead>
                    <th>Código</th>
                    <th>Total</th>
                    <th>Cliente</th>
                    <th>Fecha</th>
                    <th>Opciones</th>
                </thead>
                <tbody>
                    <tr ng-repeat='factura in facturas'>
                        <td>{{factura.Codigo}}</td>
                        <td>{{factura.Total | currency}}</td>
                        <td>{{factura.Cliente.Nombre}}</td>
                        <td>{{factura.Fecha | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <a ng-href="#!/factura/{{factura.Id}}" title="Ver detalle" ng-click="setFactura(factura)" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-arrow-right"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>